{% extends "base.html" %}
{% block title %}
Project Detail
{% endblock %}
{% block content %}
    <div class="px-4 py-5 my-5 text-center row justify-content-center">
        <h1 class="display-5 fw-bold">Employee Register</h1>
        <div class="col-md-5">
          {% if messages %}
                      {% for message in messages %}
                                <div class="alert alert-info">
                                    {{ message }}
                                </div>
                      {% endfor %}
          {% endif %}
          <form method="post" action="{% url 'project:employee-register' %}">
            {% csrf_token %}
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Username</label>
              <input type="text" name="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" name="pass1" class="form-control" id="exampleInputPassword1">
            </div>

            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Confirm Password</label>
              <input type="password" name="pass2" class="form-control" id="exampleInputPassword1">
            </div>
          
            <button type="submit" class="btn btn-primary">Submit</button>
        
          </form>

        </div>
       
      </div>
{% endblock %}